<div class="container mt-5 mb-5 shadow">
    <div class="text-center mt-5 h1-responsive">
        <h1 class="fw-bold">Contact Us</h1>

        <p class="mt-3 mx-auto" style="width: 60%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi recusandae quis eveniet modi sit aut amet facere quasi 
        saepe, tempora inventore vel a suscipit, nemo animi, quod sed quaerat id.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row mt-5">
                <div class="col-md-6 mb-2">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="exampleInputEmail1">Phone No.</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter PhoneNo.">
                </div>
                <div class="col-md-12 mt-3 mb-2" ><label for="exampleFormControlTextarea1">Address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Address"></textarea></div>
               </div>

               <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
        <div class="col-md-6">
            <div class="row mt-5 text-end  w-50">
                <div class="col-md-12 mb-2">
                  <h2 ><i class="bi bi-telephone-inbound-fill mx-2"></i>Call Us: <span class="fw-bold underline d-block" style="font-style:italic;"> 7841838287,</span></h2>
                  <hr>
                </div>
                <div class="col-md-12 mb-2">
                    <h2><i class="bi bi-envelope  mx-2"></i>Email Us: <span class="fw-bold underline" style="font-style:italic;"> abhishekoza@gmail.com</span></h2>
                    <hr>
                  </div>
                
            </div>
        </div>
    </div>
</div>
